<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<head>
    <title>dish form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <h1 class=".card-header" style="color: coral">Create new dish</h1>
    <form action="#" th:action="@{'/dish/new'}" th:object="${dish}" enctype="multipart/form-data" method="post">
        <table class="table table-bordered table-striped" style="background-color: #f3d3b1; color: white">
            <tbody>
                <tr>
                    <td>Category:</td>
                    <td><select th:field="*{category}" required>
                        <option th:value="NULL" th:text="' Select category '"></option>
                        <option th:each="c : ${categories}" th:value="${c.categoryName}" th:text="${c.categoryName}">
                        </option>
                    </select></td>
                </tr>
                <tr>
                    <td>Name: </td>
                    <td><input type="text" th:field="*{name}" required /></td>
                </tr>
                <tr>
                    <td>Image: </td>
                    <td><input type="file" th:value="*{image}" name="image"/></td>
                </tr>
                <tr>
                    <td>Recipe: </td>
                    <td><input type="text" th:field="*{recipe}" required /></td>
                </tr>
                <tr>
                    <td>How to serve: </td>
                    <td><input type="text" th:field="*{howToServe}" /></td>
                </tr>
                <tr>
                    <td>Time to cook: </td>
                    <td><input type="text" th:field="*{timeToCookInMinutes}" /></td>
                </tr>
                <tr>
                    <td>Website: </td>
                    <td><input type="text" th:field="*{linkToWebsite}" /></td>
                </tr>
                <tr>
                    <td>Comment: </td>
                    <td><input type="text" th:field="*{comment}" /></td>
                </tr>
                <tr>
                    <td><input type="submit" th:value="'Save'" /></td>
                    <td><input type="reset" value="Reset" /></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

</body>

</html>